@model Infraestructure.Models.Proveedor
@{
    ViewBag.Title = "Crear proveedor";
}


<div class="container">
    <br /><br />
    <div class="row new_action">
        <div class="offset-md-1">

            @Html.ActionLink("REGRESAR", "Index", null, new { @class = " btn btn-primary" })
        </div>
        <div class="offset-md-4">
            <h2>@ViewBag.Mantenimientotitulo</h2>
            <h4>Proveedor</h4>
        </div>
    </div>

    @using (Html.BeginForm("save", "proveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.NombreOrganizacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.NombreOrganizacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreOrganizacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                </div>
            </div>

          

            <div class="form-group">
                @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.DropDownListFor(model => Model.Contacto, (SelectList)ViewBag.ListaContacto, "Seleccione un Contacto"
        , new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Contacto
        , htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.DropDownList("selectedContacto",
        (MultiSelectList)ViewBag.ListaContactos,
        new { htmlAttributes = new { @class = "form-control" }, multiple = "multiple" });

                </div>
            </div>

            <div class="form-group">


                @if (Model.Estado == true)
                {
                    <label class="control-label col-md-2">Secciones</label>

                    <br />

                    <div class="container">
                        <br />

                        @Html.ActionLink("Agregar", "Create", "ProductoSeccion", new { idProveedor = Model.Id }, new { @class = "btn btn-primary" })
                        <div class="col-md-10">
                            @Html.Partial("~/Views/ProductoSeccion/Index.cshtml", Model.c)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7">
                            <input value="@Model.Total" readonly class="form-control" />

                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Id)
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.imagen)
                    @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Total)
                    @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Estado)
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    <div class="form-group">

                        @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                        <br />
                        @if (Model.imagen != null) { }
                        <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(@Model.imagen)" style="height:75px;width:75px" alt="Producto @Model.Nombre">
                        <br /> }  <br />
                        <div class="col-md-7">
                            <input type="file" name="ImageFile" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7">
                            <input type="file" name="ImageFile" required />
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-7">
                        <input type="submit" value="@ViewBag.Mantenimientotitulo" class="btn btn-default bg-sprimary shover" />
                    </div>
                </div>



                <div>

                </div>
            </div>

        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")




