@model Infraestructure.Models.Proveedor

@{
    ViewBag.Title = "Crear";
}
<div class="container">
    <br /><br />
    <div class="row new_action">
        <div class="offset-md-2 ">

            @Html.ActionLink("REGRESAR", "Index", null, new { @class = " btn btn-primary" })
        </div>
        <div class="offset-md-4">
            <h2>@ViewBag.Mantenimientotitulo</h2>
            <h4>Proveedor</h4>
        </div>
    </div>


    @using (Html.BeginForm("save", "Proveedor", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Proveedor</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NombreOrganizacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.NombreOrganizacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreOrganizacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Estado == true)
            {
                @Html.HiddenFor(model => model.Id)
            }
            <div class="form-group">
                @Html.LabelFor(model => model.Producto
        , htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.DropDownList("selectedPrpductos",
        (MultiSelectList)ViewBag.ListaProductos,
        new { htmlAttributes = new { @class = "form-control" }, multiple = "multiple" });

                </div>
            </div>



            <div id="Contac">
                @Html.Partial("_ListaContacto")
            </div>


            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crear">Agregar Contacto</button>

            <br />
            <br />
            <br />
            <br />











<<<<<<< Updated upstream
=======
            <div class="form-group">
                <div class="col-md-offset-2 col-md-7">
                    <input type="submit" value="@ViewBag.Mantenimientotitulo" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
>>>>>>> Stashed changes



            <div class="form-group">
                <div class="col-md-offset-2 col-md-7">
                    <input type="submit" value="@ViewBag.Mantenimientotitulo" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


<<<<<<< Updated upstream
</div>
<div class="modal fade" id="crear" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="title-modal" style="text-align:center;"> Registrar contacto</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
=======
>>>>>>> Stashed changes

                @using (Ajax.BeginForm("SaveContac", "Proveedor", new AjaxOptions
                {
                    UpdateTargetId = "Contac",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    OnComplete = "hidemodal('#crear')"
                }, new { @id = "form" }))
                {
                    @Html.AntiForgeryToken()



                    @Html.Hidden("idProveedor", Model.Id)

                    <div class="form-group">
                        <label class="control-label col-md-2" for="c">Identificación</label>
                        <div class="col-md-6">
                            @Html.TextBox("identificacion", "", new { @class = "form-control", @placeHolder = "Identificación" })

                        </div>
                    </div>

    <div class="modal fade" id="crear" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="title-modal" style="text-align:center;"> Registrar contacto</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @using (Ajax.BeginForm("SaveContac", "Proveedor", new AjaxOptions
                    {
                        UpdateTargetId = "Contac",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        OnComplete = "hidemodal('#crear')"
                    }, new { @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="control-label col-md-2" for="c">Nombre</label>
                        <div class="col-md-6">
                            @Html.TextBox("nombre", "", new { @class = "form-control", @placeHolder = "Nombre" })

<<<<<<< Updated upstream
                        </div>
                    </div>
=======
>>>>>>> Stashed changes

                        @Html.Hidden("idProveedor", Model.Id)

                        <div class="form-group">
                            <label class="control-label col-md-2" for="c">Identificación</label>
                            <div class="col-md-6">
                                @Html.TextBox("identificacion", "", new { @class = "form-control", @placeHolder = "Identificación" })

<<<<<<< Updated upstream
                    <div class="form-group">
                        <label class="control-label col-md-2" for="c">Teléfono</label>
                        <div class="col-md-6">
                            @Html.TextBox("telefono", "", new { @class = "form-control", @placeHolder = "Teléfono" })
=======
                            </div>
                        </div>
>>>>>>> Stashed changes

                        </div>
                    </div>


<<<<<<< Updated upstream
                    <div class="form-group">
                        <label class="control-label col-md-2" for="c">Email</label>
                        <div class="col-md-6">
                            @Html.TextBox("email", "", new { @class = "form-control", @placeHolder = "Email" })

                        </div>
                    </div>
=======
                        <div class="form-group">
                            <label class="control-label col-md-2" for="c">Nombre</label>
                            <div class="col-md-6">
                                @Html.TextBox("nombre", "", new { @class = "form-control", @placeHolder = "Nombre" })

                            </div>
                        </div>
>>>>>>> Stashed changes



                        <div class="form-group">
                            <label class="control-label col-md-2" for="c">Teléfono</label>
                            <div class="col-md-6">
                                @Html.TextBox("telefono", "", new { @class = "form-control", @placeHolder = "Teléfono" })

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2" for="c">Email</label>
                            <div class="col-md-6">
                                @Html.TextBox("email", "", new { @class = "form-control", @placeHolder = "Email" })

<<<<<<< Updated upstream
                    <div class="modal-footer">
=======
                            </div>
                        </div>
>>>>>>> Stashed changes



                        <input type="submit" value="Aceptar" class="btn btn-default bg-sprimary  shover" />



                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                        <div class="modal-footer">

                }


<<<<<<< Updated upstream
=======
                            <button type="submit" class="btn btn-primary">Aceptar</button>
>>>>>>> Stashed changes



                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                        </div>

                    }







            </div>



<<<<<<< Updated upstream
        </div>
=======
                </div>



            </div>


        </div>

    </div>

























>>>>>>> Stashed changes


    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")


}
