<br />
@model IEnumerable<Infraestructure.Models.Producto>

<h2 class="offset-md-5 col-3">@ViewBag.Subtitle</h2>
<div class="row container table-responsive col-12">
    <table class="table  table-striped table-bordered text-center">
        <thead class="bg-sprimary">
            <tr>
                <th>Detalle</th>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.cantidad_minima)</th>
                <th>@Html.DisplayNameFor(model => model.cantidad_maxima)</th>
                <th>@Html.DisplayNameFor(model => model.Total)</th>
                <th class="">Editar</th>
                <th class="">Eliminar</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    @Html.Partial("_PartialModalProducto", item)
                    <td><i class='bx bxs-detail ' data-toggle="modal" data-target="#b-@item.Id"></i></td>

                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.cantidad_minima)</td>
                    <td>@Html.DisplayFor(modelItem => item.cantidad_maxima)</td>
                    <td>@Html.DisplayFor(modelItem => item.Total)</td>
                    <td><i class='action_right bx bx-edit'></i></td>
                    <td><i class='action_left bx bxs-trash'></i></td>
                </tr>

            }
        </tbody>
    </table>
    <div id="modalR">

    </div>


</div>
