@model Infraestructure.Models.Producto

@{
    ViewBag.Title = "Crear";
}



<div class="container">
    <br /><br />
    <div class="row new_action">
        <div class="offset-md-1">

            @Html.ActionLink("REGRESAR", "Index", null, new { @class = " btn btn-primary" })
        </div>
        <div class="offset-md-4">
            <h2>@ViewBag.Mantenimientotitulo</h2>
            <h4>Producto</h4>
        </div>
    </div>

    @using (Html.BeginForm("save", "producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cantidad_minima, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.cantidad_minima, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cantidad_minima, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cantidad_maxima, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.cantidad_maxima, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cantidad_maxima, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Costo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Costo, new { htmlAttributes = new { @class = "form-control", @pattern = "[1-9]*", @title = "debe de ser solo numeros" } })
                    @Html.ValidationMessageFor(model => model.Costo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.DropDownListFor(model => Model.Categoria, (SelectList)ViewBag.ListaCategorias, "Seleccione una categoria"
        , new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Proveedor
        , htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.DropDownList("selectedProveedores",
        (MultiSelectList)ViewBag.ListaProveedores,
        new { htmlAttributes = new { @class = "form-control" }, multiple = "multiple" });

                </div>
            </div>
            <div class="form-group">


                @if (Model.Estado == true)
                {
                    <label class="control-label col-md-2">Secciones</label>

                    <br />

                    <div class="container">
                        <br />

                        @Html.ActionLink("Agregar", "Create", "ProductoSeccion", new { idproducto = Model.Id }, new { @class = "btn btn-primary" })
                        <div class="col-md-10">
                            @Html.Partial("~/Views/ProductoSeccion/Index.cshtml", Model.ProductoSeccion)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7">
                            <input value="@Model.Total" readonly class="form-control" />

                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Id)
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.imagen)
                    @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Total)
                    @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Estado)
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    <div class="form-group">

                        @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                        <br />
                        @if (Model.imagen !=null) { }
                        <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(@Model.imagen)" style="height:75px;width:75px" alt="Producto @Model.Nombre">
                        <br /> }  <br />
                        <div class="col-md-7">
                            <input type="file" name="ImageFile"  />
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7">
                            <input type="file" name="ImageFile" required />
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-7">
                        <input type="submit" value="@ViewBag.Mantenimientotitulo" class="btn btn-default bg-sprimary shover" />
                    </div>
                </div>



                <div>

                </div>
            </div>

        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}