@model IEnumerable<Infraestructure.Models.Producto>

@{
    ViewBag.Title = "Inventario Productos";
}
@Styles.Render("~/Content/inventario")
<h2>Productos</h2>

<table>
    <thead>
        <tr>
            <th>Detalle</th>
            <th>@Html.DisplayNameFor(model =>model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.cantidad_minima)</th>
            <th>@Html.DisplayNameFor(model => model.cantidad_maxima)</th>
            <th>@Html.DisplayNameFor(model => model.Total)</th>
            <th>Acciones </th>
            <th>     </th>
        </tr>
    </thead>
        <tbody>
       @foreach (var item in Model) {
            <tr>
                <td><i class='bx bxs-detail'></i></td>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.cantidad_minima)</td>
                <td>@Html.DisplayFor(modelItem => item.cantidad_maxima)</td>
                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                <td><a class='bx bx-edit'></a></td>
                <td><a class='bx bxs-trash'></a></td>

            </tr>
       }





        </tbody>
    </thead>
</table>