@model IEnumerable<Infraestructure.Models.Producto>

@{
    ViewBag.Title = "Inventario Productos";
}
@Styles.Render("~/Content/inventario")
<h2>Productos</h2>

<div class="tab_list">
    <div class="tab active" onclick="mostrar(event,'all')">Todos</div>
  
    @foreach (var item in (IEnumerable<Infraestructure.Models.Categoria>)ViewBag.categorias)
    {
        <div class="tab" onclick="mostrar(event,@item.Id)">@item.Descripcion</div>
    }
</div>
<div class="tab_content tab_active" id="all">
    <h2>Todos</h2>
    <table>
        <thead>
            <tr>
                <th>Detalle</th>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.cantidad_minima)</th>
                <th>@Html.DisplayNameFor(model => model.cantidad_maxima)</th>
                <th>@Html.DisplayNameFor(model => model.Total)</th>
                <th>Acciones </th>
                <th>     </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <div class="modal fade" id="b-@item.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="title-modal" style="text-align:center;">   Detalle del producto</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img class="productPhoto" src="~/Source/img/jesus.png" />
                                <div class="productInformation">
                                    <h5>Código del producto:  @Html.DisplayFor(modelItem => item.Id)</h5>

                                    <h5>Nombre del producto:@Html.DisplayFor(modelItem => item.Nombre) </h5>

                                    <h5>Precio: ₡1500</h5>

                                    <h5>Detalle:  @Html.DisplayFor(modelItem => item.Descripcion) </h5>
                                    <h5>Categoría: @Html.DisplayFor(modelItem => item.Categoria1.Descripcion)</h5>
                                    <h5>Cantidad mínima: @Html.DisplayFor(modelItem => item.cantidad_minima)</h5>
                                    <h5>Cantidad máxima:  @Html.DisplayFor(modelItem => item.cantidad_maxima)</h5>
                                    <h5>Total:  @Html.DisplayFor(modelItem => item.Total)</h5>
                                    <h5>Ubicaciones</h5>
                                    <div>
                                        <select class="selecI">
                                            @foreach (var u in item.ProductoSeccion)
                                            {
                                                <option>@u.Seccion.Descripcion</option>
                                            }
                                        </select>
                                    </div>

                                    <h5>
                                        Proveedores
                                    </h5>

                                    <div>
                                        <select class="selecI">
                                            @foreach (var p in item.Proveedor)
                                            {
                                                <option>@p.NombreOrganizacion</option>
                                            }
                                        </select>
                                    </div>




                                </div>



                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                            </div>
                        </div>
                    </div>
                </div>

                <td><i class='bx bxs-detail btn btn-primary' data-toggle="modal" data-target="#b-@item.Id"></i></td>


                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.cantidad_minima)</td>
                <td>@Html.DisplayFor(modelItem => item.cantidad_maxima)</td>
                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                <td><a class='bx bx-edit'></a></td>
                <td><a class='bx bxs-trash'></a></td>
            </tr>
            }
        </tbody>

    </table>
</div>

@foreach (var itemC in (IEnumerable<Infraestructure.Models.Categoria>)ViewBag.categorias)
{
    

<div class="tab_content" id="@itemC.Id">
    <h2>@itemC.Descripcion</h2>
   
    <table>
        <thead>
            <tr>
              

                <th>Detalle</th>
                <th>@Html.DisplayNameFor(model =>  model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.cantidad_minima)</th>
                <th>@Html.DisplayNameFor(model => model.cantidad_maxima)</th>
                <th>@Html.DisplayNameFor(model => model.Total)</th>
                <th>Acciones </th>
                <th>     </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Categoria1.Id == itemC.Id)
                {
            <tr>
                <div class="modal fade" id="a-@item.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="title-modal" style="text-align:center;">   Detalle del producto</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img class="productPhoto" src="~/Source/img/jesus.png" />
                                <div class="productInformation">
                                    <h5>Código del producto:  @Html.DisplayFor(modelItem => item.Id)</h5>

                                    <h5>Nombre del producto:@Html.DisplayFor(modelItem => item.Nombre) </h5>

                                    <h5>Precio: ₡1500</h5>

                                    <h5>Detalle:  @Html.DisplayFor(modelItem => item.Descripcion) </h5>
                                    <h5>Categoría: @Html.DisplayFor(modelItem => item.Categoria1.Descripcion)</h5>
                                    <h5>Cantidad mínima: @Html.DisplayFor(modelItem => item.cantidad_minima)</h5>
                                    <h5>Cantidad máxima:  @Html.DisplayFor(modelItem => item.cantidad_maxima)</h5>
                                    <h5>Total:  @Html.DisplayFor(modelItem => item.Total)</h5>
                                    <h5>Ubicaciones</h5>
                                    <div>
                                        <select class="selecI">
                                            @foreach (var u in item.ProductoSeccion)
                                            {
                                                <option>@u.Seccion.Descripcion</option>
                                            }
                                        </select>
                                    </div>

                                    <h5>
                                        Proveedores
                                    </h5>

                                    <div>
                                        <select class="selecI">
                                            @foreach (var p in item.Proveedor)
                                            {
                                                <option>@p.NombreOrganizacion</option>
                                            }
                                        </select>
                                    </div>




                                </div>



                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                            </div>
                        </div>
                    </div>
                </div>

                <td><i class='bx bxs-detail btn btn-primary' data-toggle="modal" data-target="#a-@item.Id"></i></td>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.cantidad_minima)</td>
                <td>@Html.DisplayFor(modelItem => item.cantidad_maxima)</td>
                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                <td><a class='bx bx-edit'></a></td>
                <td><a class='bx bxs-trash'></a></td>
            </tr>
                }
            }
        </tbody>

    </table>
</div>
}

