@{
    ViewBag.Title = "Pagina Inicio";
}


@Styles.Render("~/Content/inventario")
@Styles.Render("~/Content/Index")




    <h1 class="title">
        Bienvenidos a Stock Management
    </h1>





<div class="tab_list">
    <div class=" tab active" onclick="mostrar(event,'inicio')"> Inicio </div>
    <div class=" tab" onclick="mostrar(event,'productRegistrados')"> Total productos registrados </div>
    <div class=" tab" onclick="mostrar(event,'totalSalidas')"> Total de salidas registradas </div>
    <div class=" tab " onclick="mostrar(event,'totalEntradas')"> Total de entradas registradas </div>
    <div class=" tab" onclick="mostrar(event,'productSolicitar')"> Productos por solicitar </div>

</div>


<section class="tab-list">

    <div class=" tab_content tab_active" id="inicio">
        <h1>Inicio</h1>

        <h3 class="text">
            Bienvenidos a Stock mannagment, un sistema para la administración del inventario de tu negocio.
            Aquí podrás observar cada movimiento de tu inventario, como por ejemplo: Entradas, salidas, reportes, productos próximos a vencer, productos en desabastecimientos y más.
            Cualquier consulta que surga, no dudes en ponerte en contacto con algún administrador
        </h3>

        <img class="imgBienvenidos" src="~/Source/img/bienvenido.gif" alt="">


    </div>

    <div class="tab_content" id="productRegistrados">
        <h1> Productos total registrados</h1>



        @{IEnumerable<Infraestructure.Models.Producto> lista = (IEnumerable<Infraestructure.Models.Producto>)TempData["Productos"];
            TempData.Keep("Productos");}
        <h4>Se han registrado @lista.Count() productos</h4>
        @Html.Partial("_PartialProductos", lista)



    </div>

    <div class="tab_content" id="totalSalidas">
        <h1> Total salidas del día</h1>
        @{List<Infraestructure.Models.Salida> listaS = (List<Infraestructure.Models.Salida>)TempData["Salidas"];
            TempData.Keep("Salidas");}
        <h4>Se han registrado @listaS.Count Salidas</h4>
        @Html.Partial("_PartialSalidas", listaS)
        <img class="imgInven" src="~/Source/img/Salida.jpg" alt="">

    </div>

    <div class="tab_content" id="totalEntradas">
        <h1> Total entradas del día</h1>

        @{List<Infraestructure.Models.Entrada> listaE = (List<Infraestructure.Models.Entrada>)TempData["Entradas"];
            TempData.Keep("Entradas");}
        <h4>Se han registrado @listaE.Count entradas</h4>
        @Html.Partial("_PartialEntradas", listaE)
        <img class="imgInven" src="~/Source/img/entrada.jpg" alt="">

    </div>

    <div class="tab_content" id="productSolicitar">
        <h1> Productos por solcitar</h1>


        @{List<Infraestructure.Models.Producto> listaSolicitar = (List<Infraestructure.Models.Producto>)TempData["ProductosS"];
            TempData.Keep("ProductosS");}
       
        @Html.Partial("_PartialProductoSolicitar", listaSolicitar)
        <img class="imgInven" src="~/Source/img/compra.jpg" alt="">




    </div>


</section>


