
@model IEnumerable<Infraestructure.Models.Proveedor>
@{
    ViewBag.Title = "Mantenimiento";
}
@Styles.Render("~/content/inventario")

<h2>Mantenimiento</h2>

<div class="tab_list ">
    <div class="tab active" onclick="mostrar(event, 'proveedor')">Proveedores</div>
    <div class="tab" onclick="mostrar(event, 'usuario')">Usuarios</div>
   
</div>

<!-- Tab content -->
<div id="proveedor" class="tab_content tab_active ">
    <h2>Proveedores</h2>
    <table>
        <thead>
            <tr>
                <th>Detalle</th>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.NombreOrganizacion)</th>
                <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                <th>@Html.DisplayNameFor(model => model.Pais)</th>
                
                <th>Acciones </th>
                <th>     </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td><i class='bx bxs-detail btn btn-primary' data-toggle="modal" data-target="#a-@item.Id"></i></td>
                <div class="modal fade" id="a-@item.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="title-modal" style="text-align:center;">   Detalle del Proveedor</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img class="productPhoto" src="~/Source/img/ArrozTioPelon.jpg " />
                                <div class="productInformation">
                                    <h5>Identificador del Proveedor: @item.Id</h5>

                                    <h5>Nombre de organización: @item.NombreOrganizacion</h5>

                                    <h5>Dirección: @item.Direccion</h5>

                                    <h5>País: @item.Pais</h5>



                                    <h5>
                                        Contactos
                                    </h5>

                                    <div>
                                        <select class="select">
                                            @foreach (var c in item.Contacto)
                                            {
                                                <option>@c.Nombre _ @c.Telefono</option>
                                            }
                                        </select>
                                    </div>

                                    <h5>
                                        Contactos
                                    </h5>

                                    <div>
                                        <select class="select">
                                            @foreach (var c in item.Producto)
                                            {
                                                <option>@c.Nombre </option>
                                            }
                                        </select>
                                    </div>




                                </div>



                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreOrganizacion)</td>
                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.Pais)</td>
                <td><a class='bx bx-edit'></a></td>
                <td><a class='bx bxs-trash'></a></td>
            </tr>
            }
        </tbody>

    </table>

</div>

<div id="usuario" class="tab_content">
  
</div>
